{% load custom_fields %}

<div class="header-bottom">
  <!--begin::Container-->
  <div class="container">
    <!--begin::Header Menu Wrapper-->
    <div
      class="header-menu-wrapper header-menu-wrapper-left"
      id="kt_header_menu_wrapper"
    >
      <!--begin::Header Menu-->
      <div
        id="kt_header_menu"
        class="
          header-menu
          header-menu-left
          header-menu-mobile
          header-menu-layout-default
        "
      >
        <!--begin::Header Nav-->
        <ul class="menu-nav">
        {% for per in app_list  %}
              <li class="
              menu-item 
              menu-item-submenu 
              menu-item-rel 
              {% if request.path in per.admin_urls %}menu-item-open  menu-item-here{% endif %}
              "
                data-menu-toggle="hover"
                aria-haspopup="true"
              >
            <a href="javascript:;" class="menu-link menu-toggle">
              <span class="menu-text">{{per.name}}</span>
              <span class="menu-desc">
                {% if 'description' in per.in_config %}
                  {{per.in_config.description}}
                {% else %}
                  No available description  
                {% endif %}  
                </span>
              <i class="menu-arrow"></i>
            </a>
            <div
              class="menu-submenu menu-submenu-classic menu-submenu-left"
              data-hor-direction="menu-submenu-left"
            >
              <ul class="menu-subnav">

                {% for per_model in per.models %}

                  <li class="menu-item {% if per_model.admin_url in request.path %} menu-item-active {% endif %}" aria-haspopup="true">
                    <a href="{{per_model.admin_url}}" class="menu-link">
                      <span class="menu-text">{{per_model.name}}</span>
                      <span class="menu-desc"></span>
                    </a>
                  </li>

                {% endfor %}

            </div>
          </li>
        {% endfor %}
        </ul>
        <!--end::Header Nav-->
      </div>
      <!--end::Header Menu-->
    </div>
    <!--end::Header Menu Wrapper-->
  </div>
  <!--end::Container-->
</div>
