{% extends 'admin/theme/theme.base.html' %}
{% load i18n admin_urls static admin_list %}
{% load compress %}
{% load custom_fields %}
{% load misc %}

{% block page_styles %}

{% compress css inline %}
<link type="text/css" rel="stylesheet" href="{% static 'theme/theme.plugins/jsgrid/jsgrid.min.css' %}" />
{% endcompress %}

{{block.super}}

{% endblock %}

{% block page_scripts %}

{% compress js inline %}
<script type="text/javascript">

    window.main_table_headers = {{list_display_headers|to_json|safe}};

</script>
<script type="text/javascript" src="{% static 'theme/theme.plugins/jsgrid/jsgrid.min.js' %}"></script>
<script type="text/javascript" src="{% static 'theme/theme.custom.jsgrid.js' %}"></script>
{% endcompress %}

{{block.super}}

{% endblock %}

{% block subheader %}

<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-1 mr-5">{{title}}</h5>
                <!--end::Page Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item text-muted">
                        <a href="{% url 'admin:index' %}" class="text-muted">{% translate 'Home' %}</a>
                    </li>
                    <li class="breadcrumb-item text-muted">
                        <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}" class="text-muted">
                            {{cl.opts.app_config.verbose_name }}
                        </a>
                    </li>
                    <li class="breadcrumb-item text-muted">
                        <a href="javascript::void" class="text-muted"><b>{{ cl.opts.verbose_name_plural|capfirst }}</b></a>
                    </li>
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
    </div>
</div>

{% endblock %}

{% block contents %}

<div class="container">

    <div class="card card-custom gutter-b">
        <!--begin::Header-->
        <div class="card-header border-0 py-5">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label font-weight-bolder text-dark">
                    {% if admin.change_list_table_title %}
                        {{admin.change_list_table_title}}
                    {% else %}
                        Table Title
                    {% endif %}
                </span>
                <span class="text-muted mt-3 font-weight-bold font-size-sm">
                    {% if admin.change_list_table_subtitle %}
                        {{admin.change_list_table_subtitle}}
                    {% else %}
                        Table Subtitle
                    {% endif %}
                </span>
            </h3>
            <div class="card-toolbar">
                <a href="#" class="btn btn-success font-weight-bolder font-size-sm">
											<span class="svg-icon svg-icon-md svg-icon-white">
												<!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Add-user.svg-->
												<svg xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                     height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<polygon points="0 0 24 0 24 24 0 24"></polygon>
														<path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
                                                              fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
														<path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
                                                              fill="#000000" fill-rule="nonzero"></path>
													</g>
												</svg>
                                                <!--end::Svg Icon-->
											</span>Add New {{module_name|capfirst}}</a>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body py-0">
            <!--begin::Table-->
            <div class="table-responsive">
                <table class="table table-head-custom table-vertical-center" jsgrid_table>
                </table>
            </div>
            <!--end::Table-->
        </div>
        <!--end::Body-->
    </div>


</div>

{% endblock %}