{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
  {{block.super}}
  {% for per in extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static per %}">
  {% endfor %}
{% endblock %}

{% block branding %}

{% if user.is_superuser %}
  <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }} | Admin</a></h1>
{% else %}
  <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }} | Agent </a></h1>

{% endif%}

{% endblock %}

{% block nav-global %}{% endblock %}


{% block extra_js %}
  <!-- EXTRA JS -->
  {{block.super}}
  <script type="text/javascript" src="{% static 'plugins/jquery/jquery3.6.js' %}" defer></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
  <script type="text/javascript" src="{% static 'js/index.js' %}" defer></script>
  <script type="text/javascript" src="{% static 'plugins/jquery.cookie.min.js' %}" defer></script>
  <!-- CUSTOM EXTRA JS -->
  {% for per in extra_js %}<script type="text/javascript" src="{% static per %}" defer></script>
  {% endfor %}
  <!-- END EXTRA JS -->
{% endblock %}


