span.prefix_tb {
	    background-color: #FFF;
	    color: #888;
	    line-height:20px;
	    height:20px;
	    padding:3px;
	    border:1px #888 solid;
	    font-size:9pt;
}

span.prefix_tb input {
      border: 0px;
	    background-color: #FFF;
  }