.hidden { display : none }

h1,h2,h3,h4,h5 {
  font-weight: bold;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}


h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 10px;
}

.module caption 
{
  caption-side: top;
}

.submit-row a.deletelink 
{
  padding: 9px 17px;
  height: auto;
}

.image_container.with_image_preview {
    position: relative;
    width: 100%;
    max-width: 350px;
    overflow: hidden;
  }
  
  img.with_image_preview {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay.with_image_preview {
    position: absolute; 
    bottom: 0; 
    background: var(--breadcrumbs-bg);
    background: #79aec8; /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .image_container.with_image_preview:hover .overlay.with_image_preview {
    opacity: 1;
  }
  span.enable-loading-container
  {
    background: white;
    border: none;
    margin-left: 1px !important;
    display: none;
  }
  [disabled]
  {
    background: gainsboro;
  }

  