{% load custom_fields %}
{% load static %}

{% if fieldset_template %}
{% include fieldset_template %}
{% else %}

<fieldset class="module aligned {{ fieldset.classes }}">

    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
      
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <div class="readonly">{{ field.contents }}</div>
                        {% else %}
                          
                            {% if field|has_image_preview %}
                                <section class="with_image_preview">
                                    {{field.field|to_field_hidden}}
                                    <div class="image_container with_image_preview">
                                        <img src="{% get_media_prefix %}{{field.field.value|img_default:'default_imgs/initial_preview_product.jpg'}}" alt="Avatar" class="with_image_preview">
                                        <div class="overlay with_image_preview">Update Banner</div>
                                    </div>
                                </section>
                            {% else %}
                                {% if "enable-loading" in field.field.field.widget.attrs %}

                                <div class="input-group flex-nowrap" style="width:auto">
                                   {{field.field}}
                                    <span class="input-group-text enable-loading-container">
                                        <i class="fa fa-spinner fa-spin" style="font-size:20px;color:var(--secondary)"></i>
                                    </span>
                                </div>

                                {% else %}
                                    {{field.field}}
                                {% endif %}
                               
                              
                                
                            {% endif %}
                            
                        {% endif %}
                    {% endif %}
                    {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                    {% if field.field.help_text %}
                        <div class="help">{{ field.field.help_text|safe }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</fieldset>

{% endif %}

